

.reservation-lib {
    border: black solid 2px;
}

.active-reservations {
    height: 50vh;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
    overflow: scroll;
}

.pending-reservations {
    height: 50vh;
    overflow: scroll;
    border-color: brown;
    border-style: solid;
    border-width: 2px;
}

.reservation-lib {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.reservation-buttons {
    justify-self: center;
}

.accept-button {
    align-self: center;
    width: 50px;
    height: 50px;
}

.deny-button {
    align-self: center;
    width: 50px;
    height: 50px;
}

.returned {
    grid-row: 0;
    grid-column: 0;
    align-self: bottom;
}