body {
  margin: 0px;
  background-color: #D35F4A;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter';
  font-size: 22px;
  color: honeydew;
}

a {
  font-size: 16px;
  color: honeydew;
  text-decoration: none;
  overflow: hidden;
}

.select {
  color: black;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
